name: Clippy
on: pull_request

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: true

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Generate GitHub App Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.AUTO_COMMIT_APP_ID }}
          private-key: ${{ secrets.AUTO_COMMIT_APP_KEY }}
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}
      - name: Install Rust
        run: |
          rustup default stable
          rustup target add wasm32-unknown-unknown
          rustup component add clippy

      - name: Install ALSA
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev

      - uses: Swatinem/rust-cache@v2

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features --fix || true
      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "chore: Apply clippy fixes"
          commit_user_name: usa-reddragon-auto-commit[bot]
          commit_user_email: 198527162+github-actions[bot]@users.noreply.github.com
          commit_author: "usa-reddragon-auto-commit[bot] <198527162+github-actions[bot]@users.noreply.github.com>"
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features
